html {
  outline: none;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 26px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  background-image: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, .7));
  transition: all 3s;
}

.sentence {
  animation-name: fadein;
  animation-duration: 3s;
}

div.text {
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
}

.ok {
  border-radius: 5em;
  background-color: white;
  display: inline-block;
  padding: 0.25em 0.6em 0.25em 0.5em;
  cursor: pointer;
  position: absolute;
  bottom: 40%;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity:  1; }
}

@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
  }
  
  div.text {
    padding: 30px;
  }

  .ok {
    bottom: 10%;
  }
}